/* .page_container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
.circular_menu {
    height: 170px;
    position: relative;
    width: 170px;
  }
  
  .menu_button,
  .menu_item {
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .menu_button {
    background-color: black;
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
  
  .menu_item {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  } */

  /* .body {
    display: flex;
    justify-content: center;
    align-items: last baseline;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  } */

  /* .semicircle_container {
    position: absolute;
    width: 200px;
    height: 100px;
    overflow: hidden;
  }

  .semicircle {
    width: 400px;
    height: 400px;
    background-color: #3498db;
    border-radius: 100px 100px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .circle {
    width: 60px;
    height: 60px;
    background-color: #e74c3c;
    border-radius: 50%;
    position: relative;
    transform: translate(-50%, -50%);
  }

  .circle1 { top: 0; left: 50%; }
  .circle2 { top: 50%; left: 0; }
  .circle3 { top: 100%; left: 50%; }
  .circle4 { top: 50%; left: 100%; } */


  /* div {
    margin: 1rem auto;
    background-color: #48abe0;
  } */
/*   
  .semi_circle {
    size: 20rem;
    width: 20rem;
    height: 10rem;
    background-color: #48abe0;
    border-radius: 10rem 10rem 0 0;
  } */


  /***************
****************
** Variables *** 
****************
****************/
/*********
**********
** Fonts
**********
**********/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@import url(https://fonts.googleapis.com/css?family=Allura|Open+Sans);
.title {
  font-family: 'Fjalla One', sans-serif;
}

/**************
***************
**** #main ****
***************
***************/
.body {
  background: #fff;
  color: #B2B2B2;
}

#main-content #services,
#main-content #work,
#main-content #blog,
#main-content #about,
#main-content #contacts {
  padding: 20px 0;
}

.divider {
  display: block;
  width: 35px;
  height: 3px;
  margin: 10px auto 20px;
  background-color: #74D9D0;
}

.headline {
  color: #999;
  font-size: 16px;
  line-height: 25px;
  font-weight: 100;
  text-align: center;
}

/**************
***************
**** #home ****
***************
***************/
.home {
  background: url(http://miukimiu.com/dummy/patterns/diamond_upholstery.png) repeat;
  display: block;
  color: #fff;
}

.home h2 {
  color: #fff;
}

.home home_logo {
  padding: 20px 0;
  
  width: 177px;
  height: 81px;
  position: absolute;
  top: 135px;
  left: 50%;
  margin-left: -88.5px;
}

.home home_logo h1 a {
  font-family: "Allura", cursive;
  font-size: 50px;
  display: block;
  color: #fff;
}
.home home_logo h1 a:hover {
  opacity: 0.8;
  text-decoration: none;
}

#home .home_content h1 {
  text-align: center;
  padding-bottom: 10px;
}

#home .home_content h2 {
  font: 20px/1 "Open Sans", sans-serif;
  text-transform: uppercase;
  border-top: 1px solid #fff;
  text-align: center;
  padding-top: 20px;
  width: 50%;
  left: 25%;
  position: relative;
}

.home-semicircle_outer {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  height: 250px;
  width: 500px;
  display: block;
  -moz-border-radius: 500px 500px 0 0;
  -webkit-border-radius: 500px;
  border-radius: 500px 500px 0 0;
  z-index: 1;
  margin-top: 20px;
  left: 50%;
  margin-left: -250px;
  /* box-shadow: inset 0 3px 10px rgba(0, 0, 0, .1), 0 2px 20px rgba(255, 255, 255, 0.2);*/
}

.home_semicircle_inner {
  background-color: #74D9D0;
  height: 125px;
  width: 250px;
  display: block;
  -moz-border-radius: 125px 125px 0 0;
  -webkit-border-radius: 125px 125px 0 0;
  border-radius: 125px 125px 0 0;
  position: absolute;
  left: 50%;
  margin-left: -125px;
  margin-top: 125px;
  z-index: 3;
}

#home_semicircle_pointer {
  width: 160px;
  border-bottom: 20px solid #74D9D0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: 130px;
  z-index: 2;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

/* Home info */
.home_info_outer {
  background: #74D9D0;
  position: relative;
  top: 0px;
  z-index: 5;
}

.home_info {
  padding: 20px 0;
  min-height: 180px;
}

.home_info_block {
  display: none;
}

#home nav ul {
  list-style: none;
  text-align: center;
  margin: 0;
}

#home li a:hover,
#home li.active a {
  text-decoration: none;
}

#home nav a {
  font: 400 18px/1 "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #74D9D0;
}

#home nav ul li {
  display: inline-block;
}

#home .first_position {
  position: relative;
  left: -15px;
  top: 180px;
}

.first_rotation {
  -moz-transform: rotate(26deg);
  -ms-transform: rotate(26deg);
  -webkit-transform: rotate(26deg);
  transform: rotate(26deg);
}

#home .second_position {
  position: relative;
  left: -40px;
  top: 115px;
}

.second_rotation {
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

#home .third_position {
  position: relative;
  left: -10px;
  top: 60px;
}

.third_rotation {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#home .fourth_position {
  position: relative;
  left: 0px;
  top: 115px;
}

.fourth_rotation {
  -moz-transform: rotate(128deg);
  -ms-transform: rotate(128deg);
  -webkit-transform: rotate(128deg);
  transform: rotate(128deg);
}

#home .fifth_position {
  position: relative;
  left: -20px;
  top: 180px;
}

.fifth_rotation {
  -moz-transform: rotate(156deg);
  -ms-transform: rotate(156deg);
  -webkit-transform: rotate(156deg);
  transform: rotate(156deg);
}

.ease_rotation {
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}