

.bodies {
	background: linear-gradient(-45deg, #400281, #340155, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	/* height: 100vh; */
  }
  
  @keyframes gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }


.about {
	margin: 10px;
	padding: 0;
}
.middle {
	/* padding: 10% 20%; */
	padding-top: 10%;
	align-items: center;
}
.heading {

	font-weight: bolder;
}
.contain {
	padding: 5% 0;
}
.container {
	padding: 2rem;
	display: flex;
	flex-direction: row;
	font-family: "Times New Roman", Times, serif;
}

.partner {
	background-color: #ffe5e5;
	padding: 2%;
	height: 100%;
	width: 100%;
}
.logo {
	display: block;
	padding: 20%;
}
.para {
	color:aliceblue;
	padding-left:10%;
	width: 70%;
}
.title {
	color:aliceblue;
	padding: 5rem 3rem 0;
	font-family: "Times New Roman", Times, serif;
}
.gallery {
	padding: 1% 0 5%;
}
.middlediv {
	color:aliceblue;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-weight: bolder;
	padding-bottom: 4%;
}
.text{
	font-size: 20px;
	color: white;
}
