*{
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.bodies {
	/* background: linear-gradient(-45deg, #400281, #340155, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh; */
    background-color: #1b1a2ea9 !important;
  }
  
  @keyframes gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }


.carousel_container {
    width: 100%; /* Adjust as needed */
    height: 50vh; /* Adjust as needed */
    overflow: hidden;
    position: relative;
    float: left;
    margin-bottom: 5%;
  }

.carousel-item {
    flex: 0 0 50%; /* Each item takes half the width of the container */
}

.carousel_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  
  
  
  
    .h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
      padding: 10px;
      color: white;
      text-align: center;
    }
  
a{
    text-decoration: none;
    color: black;
}

.container{
    /* max-width: 1200px; */
    width: 60%;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    padding: 1em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
    background-color: rgb(244, 242, 22);
    border: none;
}

.btnPrimary{
    border-radius: 5rem;
    font-weight: 700;

}

.btnSecondary{
    border-radius: 5rem;
    font-size: .7rem;
    font-weight: 700;
}






/* .header{ */
    /* background: radial-gradient(crimson, skyblue) url("./images/header_background.JPG"); */
    /* background: url("../images/header_background.JPG"); */
    /* height: 350px; */
    /* width: 100%; */
    /* z-index: -100; */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* position: relative; */
    /* margin-bottom: 6rem; */
/* } */

.headerContent{
    color: white;
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

}

.headerContent h1{
    font-size: 3.5rem;
    /* margin-bottom: .3em; */
}

.headerContent p{
    font-size: 1.3rem;
    margin-bottom: .5em;
    color: aliceblue;
}






.about{
    margin-top: 10%;
    display: flex;
    border-radius: 1em;
    margin-bottom: 6rem;
    text-align: left;
}

.about img{
    width: 227px;
    height: 200px;
    margin-top: 60px;

}

.about .aboutContent{
    /* border: 2px solid black; */
    width: 50%;
    padding-left: 1em;
    padding-top: 1em;
    color: white;
}

.aboutContent p{
    font-size: .9em;
    /* color: black; */
    font-weight: 800;
    /* padding-left: 1em; */
    margin-bottom: .5em;
}

.aboutContent h2{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: .3em;
}

.aboutContent .dis{
    font-size: .9em;
    /* color: black; */
    font-weight: 400;
    margin-bottom: .5em;
    color: aliceblue;
}





.events{
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    text-align: left;
}

.events h2{
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: .8rem;
    margin-top: 4rem;
}

.events .event{
    display: flex;
    margin: 1rem 0;
    /* border: 2px solid black; */
    border-radius: 1em;
}

.event .eventContent{
    width: 55%;
    /* border: 2px solid red; */
    padding: 1.8em;
    background: white;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.eventContent h3{
    font-size: 1.5rem;
    margin-bottom: .6rem;
}

.eventContent p{
    font-size: .9em;
}

.event img{
    width: 40%;
    /* border: 2px solid red; */
}

.event .date{
    width: 5%;
    background: rgb(244, 242, 22);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.eventsBack{
    background-color: rgb(244, 242, 22);
    border-radius: 1em;
    height: 62rem;
    width: 100%;
    /* transform: translate(-45%, 0); */
    position: absolute;
    left: -47%;
    z-index: -1000;
}






.teamBack{
    background: rgb(248, 245, 240);
}

.team{
    text-align: center;
    margin: 3rem auto;
    /* border: 2px solid black; */
}

.team p{
    font-size: .9em;
    margin-bottom: .2rem;
}

.team h2{
    font-size: 1.8rem;
    margin-bottom: 1.7rem;
}

.team .members{
    display: flex;
    justify-content: space-between;
}

/* .members .member{
    /* width: 30%; */
    /* border: 2px solid black; */
    /* border-radius: 1em; */
/* }  */

.members .member img{
    height: 11.5rem;
    border-radius: 1em;
}

.members .member .details{
    position: relative;
    top: -15%; left: 20%;
    /* border: 2px solid red; */
    width: 60%;
    background: white;
    padding: .7rem;
    border-radius: 1em;
}

.details h3{
    font-size: 1.3rem;
}

.details p{
    font-size: .9em;
    font-weight: 700;
    margin-bottom: .5rem;
}

.details .icon{
    display: inline-block;
    height: 2rem; width: 2rem;
    border: 2px solid black;
}


@media (max-width: 1410px){
    /* .members .member img{
        height: 9.5rem;
        border-radius: 1em;
    }

    .team .members{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } */

    .container{
        width: 70%;
    }
}

@media (max-width: 1250px){
    .container{
        width: 80%;
    }
}
@media (max-width: 1050px){
    .container{
        width: 90%;
    }
}
@media (max-width: 950px){
    .container{
        width: 95%;
    }
}

@media (max-width: 880px){
    .team .members{
        display: flex;
        flex-direction: column;
        /* justify-content: space-; */
        /* border-bottom: 1em; */
    }

    .members .member{
        /* width: 30%; */
        /* border: 2px solid black; */
        /* border-radius: 1em; */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        /* position: relative; */
        /* left: -10%; */
        margin-bottom: 1rem;
    } 

    .members .member img{
        height: 15rem;
        border-radius: 1em;
        position: relative;
        left: 20%;
    }

    .members .member .details{
        /* display: flex; */
        position: relative;
        left: 10%;
        /* border: 2px solid red; */
        width: 20%;
        height: 30%;
        background: white;
        padding: .7rem;
        border-radius: 1em;
    }
}

@media (max-width: 700px){
    .members .member img{
        height: 15rem;
        border-radius: 1em;
        position: relative;
        left: 10%;
    }

    .members .member .details{
        /* display: flex; */
        position: relative;
        left: 0%;
        /* border: 2px solid red; */
        width: 30%;
        height: 30%;
        background: white;
        padding: .7rem;
        border-radius: 1em;
    }
}

@media (max-width: 575px){
    .about{
        display: flex;
        flex-direction: column;
        border-radius: 1em;
        margin-bottom: 6rem;
        border: 2px solid black;
        justify-content: center;
        align-items: center;
    }

    .about img{
        /* border: 2px solid black; */
        width: 100%;
        /* height: 500px; */
    
    }
    
    .about .aboutContent{
        /* border: 2px solid black; */
        width: 100%;
        padding-left: 1em;
        padding-top: 1em;
    }

    .event {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        /* border: 2px solid black; */
        border-radius: 1em;
    }

    .event .eventContent{
        width: 100%;
    }
    
    .event img{
        width: 100%;
    }
    
    .event .date{
        width: 100%;
    }

    .eventsBack{
        height: 95rem;
    }
}


.card_body {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    margin: 0;
    background-color: aliceblue;
  }
  
  .card {
    margin-top: 5%;
    height: 80%;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .card p {
    margin: 0;
  }
  
  .card a {
    color: #3498db;
    text-decoration: none;
  }

  .text1{
    align-items: center;
  }


  .logo_row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .logo_container {
    padding: auto;
    text-align: center;
  }
  
  .logo_container img {
    max-width: 20px; /* Adjust the size as needed */
    height: 20px;
   
  }
  
  