
.body{
  background: linear-gradient(-45deg, #400281, #340155, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}
@keyframes gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }
.container {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}








.card_body {
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  margin: 0;

}

.card {
  margin-top: 5%;
  height: 80%;
  width: 20%;
  text-align: center;
  border-radius: 10px;
 
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card p {
  margin: 0;
}

.card a {
  color: #3498db;
  text-decoration: none;
}

.text1{
  color: antiquewhite;
  align-items: center;
}


.logo_row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo_container {
  color: antiquewhite;
  padding: auto;
  text-align: center;
}

.logo_container img {
  max-width: 20px; /* Adjust the size as needed */
  height: 20px;
 
}

